#logo{
	width: 80px;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 35px;
}
@media screen and (max-width: 700px){
	h1{
		font-size: 30px;
	}
}
hr.inline{
	width: 20%;
	margin-left: 30px;
	margin-right: 30px;
}
.inline{
	vertical-align: middle;
	display: inline-block;
}
@media screen and (max-width: 700px){
	hr.inline{
		width: 10%;
		margin-left: 0px;
		margin-right:0px;
	}
}
.big-font{
	font-size: 30px;
}
/**/
footer{
	padding: 10px 0px;
	color: #FFF;
	background-color: #222!important;
}
footer hr{
	width: 60%;
	margin-left: 0px;
}
footer .row{
	margin-bottom: 0px;
}
/*Navbar*/
nav{
	color: #222;
	background-color: #FFF;
}
nav li.active{
	color: #FFF;
	background-color: #222!important;
}
nav a{
	color: inherit!important;
}

/*Banner*/
#main-carousel .item img{
	display: block;
	width: 100%;
	height: auto;
}
.item .btn{
	width: 70%;
	left: 15%;
	position: absolute;
	top: 0px;
}

.item p{
	width: 100%;
	font-size: 30px;

	color: #FFF;
	background-color: rgba(0,0,0,0.7);

	margin: 0px;
	padding: 10px;
	position: absolute;

	bottom: 0px;
}
.owl-buttons{
	display: none;
}
@media screen and (max-width: 700px){
	.item p{
		font-size: 20px;

	}
}

